<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noobs, một cộng đồng người việt!</title>
    <%- include ('./layouts/meta_data.ejs') -%>
</head>
<body>
    <style>
        .text_error{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <h1 class="text_error">
        Trang web đã xảy ra lỗi,<br>hãy chụp lại màn hình và gửi cho admin của server hoặc thằng Cat!
    </h1>
    <h2 class="text_error">
        <%= status %>
    </h2>
    <span class="text_error">
        <%= message %> 
    </span>
</body>
</html>