<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noobs, một cộng đồng người việt!</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dash.css" />
    <%- include ('./layouts/meta_data.ejs') -%>
</head>

<body>
    <h1>Chào mừng <%= user.username %></h1>
    <p id="text"></p>
    <div id="map-container"><%- !location ? (include ('./maps/world.ejs')) : (include (`./maps/${location}.ejs`)) -%></div>
    <button ><a href="/?location=world">Trở về bản đồ thế giới!</a></button>
    <button onClick="submitLocation();" type="button">Gửi</button>
    <script src="/js/dash.js"></script>
</body>

</html>