<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noobs, một cộng đồng người việt!</title>
    <%- include ('./layouts/meta.ejs') -%>
    <%- include ('./layouts/meta_data.ejs') -%>
</head>
<body>
    <h1>
        Oh không, bạn vẫn chưa đăng nhập, chúng tôi không thể biết bạn là ai!<br>
        Oh no, you have't loged in! We can't identify you!
    </h1>
    <p>
        Làm ơn hãy ấn vào đường link này để có thể đăng nhập vào!<br>
        Please click on the link below to log in!
    </p><br>
    <button><a href="/api/auth/discord">Login</a></button>
</body>
</html>

