<h1>
    Oh không, bạn vẫn chưa đăng nhập, chúng tôi không thể biết bạn là ai!<br>
    Oh no, you have't loged in! We can't identify you!
</h1>
<p>
    Làm ơn hãy ấn vào đường link này để có thể đăng nhập vào!<br>
    Please click on the link below to log in!
</p><br>
<button><a href="/api/auth/discord">Login</a></button>